<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="storefront-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Mi carrito</h1>

  <div class="cart-items">
    <h4 class="ion-text-center">{{msg_cart}}</h4>
    <ion-card mode="ios" *ngFor="let item of selectedItems; let i = index">
      <ion-card-content>
        <div class="item-img">
          <img src="{{item.url_img}}" />
        </div>
        <div class="item-info">
          <p>{{item.name_prod}}</p>
          <p>{{item.category}}</p>
          <p>${{item.price}}</p>
          <p><small>Cant: {{item.quantity}}</small></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!--
  <div class="cart-items">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart1.png" />
        </div>

        <div class="item-info">
          <p>Pizza Pepperoni</p>
          <p>Prueba</p>
          <p>$34.00</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart2.png" />
        </div>

        <div class="item-info">
          <p>Jugo del Valle 355ml</p>
          <p>Bata</p>
          <p>$44.00</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart3.png" />
        </div>

        <div class="item-info">
          <p>Coca 355ml</p>
          <p>Next</p>
          <p>$54.00</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <!--
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart4.png" />
        </div>
        <div class="item-info">
          <p>Women shirt</p>
          <p>Plus Point</p>
          <p>$34.00</p>
          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart5.png" />
        </div>
        <div class="item-info">
          <p>Shirt</p>
          <p>Cat's Eye</p>
          <p>$44.00</p>
          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  
  </div>
  -->
</ion-content>

<!-- Bloque si no hay productos en el carrito -->
<div *ngIf="is_empty; else elseBlock">
  <ion-footer translucent="true" class="ion-no-border" mode="md">
    <ion-toolbar color="translucent">
      <ion-button expand="block" class="main-button" routerLink="/home" routerDirection="back">Ir al inicio</ion-button>
    </ion-toolbar>
  </ion-footer>
</div>
<!-- Bloque si hay productos en el carrito -->
<ng-template #elseBlock>
  <ion-footer>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" color="light" (click)="remove()">Borrar Carrito</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" class="main-button" routerLink="/checkout">Hacer pedido</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ng-template>  

